<html>
    <head>
        <%= css :app, :media => 'screen' %>
        <%= js :app %>
    </head>

    <body>
				<ul>
					<% for photo in photos %>
						<li><img src="http://farm<%= photo.farm %>.staticflickr.com/<%= photo.server %>/<%= photo.id %>_<%= photo.secret %>.jpg"></img></li>
					<% end %>
				</ul>
    </body>
</html>
