<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Galleria Classic Theme</title>
        <style>

            /* Demo styles */
            html,body{background:#222;margin:0;}
            body{border-top:4px solid #000;}
            .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:620px;margin:20px auto;}
            h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
            p{margin:0 0 20px}
            a {color:#22BCB9;text-decoration:none;}
            .cred{margin-top:20px;font-size:11px;}

            /* This rule is read by Galleria to define the gallery height: */
            #galleria{height:320px}

        </style>


      <%= css :application, :media => 'screen' %>
      <%= js :application %>

        <!-- load Galleria -->
        <script src="/galleria/galleria-1.2.7.min.js"></script>

    </head>
    <body>
        <div class="content">

            <div id="galleria">
                <% photos.each do |photo| %>
                    <img src="http://farm<%= photo.farm %>.staticflickr.com/<%= photo.server %>/<%= photo.id %>_<%= photo.secret %>.jpg"/>
                <% end %>
            </div>

        </div>

        <script>

        // Load the classic theme
        Galleria.loadTheme('/galleria/themes/classic/galleria.classic.min.js');

        // Initialize Galleria
        Galleria.run('#galleria');

        </script>
    </body>
</html>
